<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900019810867-ioj47pfsmfnci4k6u8ptqkl0rpfed1vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900019810867-ioj47pfsmfnci4k6u8ptqkl0rpfed1vt</string>
	<key>API_KEY</key>
	<string>AIzaSyD-7R033ggMQoSjapXnAGA-gykiI5h0dtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>900019810867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.</string>
	<key>PROJECT_ID</key>
	<string>profitcars-299c0</string>
	<key>STORAGE_BUCKET</key>
	<string>profitcars-299c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900019810867:ios:93781e2459b20fce36a946</string>
</dict>
</plist>